/* - background: #ddebf7; голубой  
   - background: #f2f2de; бежевый */

td:nth-child(odd){
	background: #f2f2de;
}

td:first-child{
	background: none;
}

tr:nth-child(even){
	background: #ddebf7;
}
