li:nth-child(1) a, li:nth-child(2) a{
	font-size: 30px;
}

li:nth-child(3) a, li:nth-child(4) a, li:nth-child(5) a{
	font-size: 30px;
	color: orange;
}

li:nth-child(6) a, li:nth-child(7) a, li:nth-child(8) a{
	font-size: 30px;
	color: #666;
}

li:nth-child(5) a:after{
	content: "⇲";
}