/*Ваша задача написать такой css файл, который 
по состоянию checked включать/выключать соответствующие элементы.
Макет хранится в файле task6.png. Первая строка - исходный вид. 
Остальные - как выглядят при нажатии на разные чекбоксы */

.red{
	background: red;
	color: white;
	border-radius: 7px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;   
}

.green{
	background: green;
	color: white;
	border-radius: 7px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;   
}

.blue{
	background: blue;
	color: white;
	border-radius: 7px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 2px;   
}

label[for="red"]{ 
	color: red;
	text-decoration: underline;
	padding-left: 10px;
	padding-right: 20px; 
}

label[for="green"]{
	color:green;
	text-decoration: underline;
	padding-right: 20px;
}

label[for="blue"]{
	color:blue;
	text-decoration: underline;
	padding-right: 20px;
}

#red, #green, #blue{
	dis play: none;
}

#red:ch ecked { 
display: none;
}

#green .green:chec ked { 
display: none;
}

input[id="red"]:checked + label{ 
display: none;
}

